<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.plexapp.agents.moviemania</string>
	<key>PlexAgentAttributionText</key>
	<string>
		&lt;a target=&quot;_blank&quot; href=&quot;https://www.moviemania.io&quot;&gt;Moviemania&lt;/a&gt; is the largest textless high-resolution movie posters database on the Internet.
    &lt;br/&gt;
    &lt;br/&gt;
    Support and feedback on our subreddit &lt;a target=&quot;_blank&quot; href=&quot;https://www.reddit.com/r/MoviemaniaHQ&quot;&gt;/r/MoviemaniaHQ&lt;/a&gt;.
    &lt;br/&gt;
    &lt;br/&gt;
    ---
    &lt;br/&gt;
    BETA 1 (2017-09-12)
	</string>
	<key>PlexFrameworkVersion</key>
	<string>2</string>
	<key>PlexPluginClass</key>
	<string>Agent</string>
	<key>PlexPluginCodePolicy</key>
	<string>Elevated</string>
</dict>
</plist>
